html, body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  font-size: 2vh;
  font-family: 'Lato', sans-serif;

  background-color: #0A1128;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./res/?file=bg2.jpg");
}

#brand {
  display: flex;
  margin: 1vh 2vw;
  padding: 0 1vh;
  height: 7vh;

  font-size: 4vh;

  text-decoration: none;

  align-items: center;
  justify-content: center;

  transition: .1s;

  color: #FAFAFF;
}

#brand:hover {
  color: #1282A2;

  border-bottom: .5vh solid #1282A2;
  border-top: .5vh solid #1282A2;
}

#menu {
  display: flex;
  
  height: 10vh;
  
  align-items: center;
  justify-content: left;
  
  background-color: #001f54;
}

.menu-opt {
  display: flex;
  
  margin: 0 0 0 2vw;

  min-width: fit-content;
  width: 10vw;
  height: 7vh;

  align-items: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;

  color: #FAFAFF;

  font-size: 2.5vh;

  transition: .1s;

  /* background-color: #034078;*/
  /* border-radius: .3em; */
}

.menu-opt:hover {
  color: #1282A2;

  border-bottom: .5vh solid #1282A2;
  border-top: .5vh solid #1282A2;
}

#data {
  display: flex;

  margin: 5vh 15vw;
  width: 70vw;
  height: 80vh;

  overflow-y: scroll;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  /* background-color: #AAAAAA33;*/
  backdrop-filter: blur(10px);
}

.slave-card {
  display: flex;

  margin: 2vh 2vw;

  min-width: fit-content;
  width: 15vw;
  height: 15vw;

  color: #FAFAFF;

  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  flex-wrap: wrap;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  transition: .1s;

  user-select: none;

  background-color: #034078;
}

.slave-card > div {
  width: 80%;
}

.slave-card > div > div {
  display: flex;
  justify-content: space-between;
}

.slave-card > div > div > span {
  color: #1282A2;
}

.job-card {
  display: flex;

  margin: 2vh 2vw;

  min-width: fit-content;
  width: 30vw;
  height: 20vh;

  color: #FAFAFF;

  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  flex-wrap: wrap;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  transition: .1s;

  user-select: none;

  background-color: #034078;
}

.job-card > div {
  width: 80%;
}

.job-card > div > div {
  display: flex;
  justify-content: space-between;
}

.job-card > div > div > span {
  color: #1282A2;
}

.job-card:hover {
  box-shadow: 0 28px 56px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
}

.job-card:hover {
  box-shadow: 0 28px 56px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
}

#cluster-stats {
  display: flex;

  padding: 5vh 0 8vh;

  font-size: 4.5vh;
  color: #FAFAFF;

  overflow: hidden;

  flex-wrap: wrap;

  justify-content: center;

  background-color: #034078;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#cluster-stats > * {
  display: flex;

  width: 70%;

  user-select: none;

  justify-content: space-between;
}

#cluster-stats > * > span {
  color: #1282A2;
}

.b-started {
  width: 50%;
}

.b-queue {
  width: 50%;
  border-right: 1vh solid #1282A2;
}